{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
    Вход
{% endblock title %}
{% block content %}
    <h1>Вход</h1>
    <form method="post">
        {% csrf_token %}
        {% comment %} {{ form.as_p }} {% endcomment %}
        {% bootstrap_form form layout="floating" %}
        {% bootstrap_button button_type="submit" button_class="btn-success" content="Войти" %}
    </form>
    <p class="mt-2">
        Нет аккаунта?
        <a href="{% url 'signup' %}">Зарегистрироваться</a>
    </p>
{% endblock content %}
