{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block title %}Каталог объектов{% endblock %}

{% block content %}
<h1>Каталог объектов</h1>

<form method="get">
  {% bootstrap_form form layout="horizontal" %}

  {% bootstrap_button button_class="btn-primary" button_type="submit" content="Применить" %}
  {% bootstrap_button button_class="btn-danger" button_type="reset" content="Сбросить" %}
</form>

<hr>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-4">
  {% for poi in page_obj.object_list %}
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <p class="h5 card-title">{{ poi.name }}</p>
        <p class="card-subtitle mb-2 text-muted">{{ poi.short_description }}</p>
        {% if poi.region %}
        <p class="card-text">Регион: {{ poi.region }}</p>
        {% endif %}
        <p class="card-text">Сезон: {{ poi.get_season_display }}</p>
        <p class="card-text">Сложность: {{ poi.get_physical_level_display }}</p>
        <p class="card-text">Цены: {{ poi.get_price_level_display }}{% if poi.base_cost %} (~{{ poi.base_cost }} ₽){% endif %}</p>
        </p>
      </div>

      <div class="card-footer">
        <a class="btn btn-primary" href="{% url 'poi_detail' poi.pk %}">Перейти</a>
      </div>
    </div>
  </div>
  {% empty %}
  <p class="text-muted">Ничего не найдено :(</p>
  {% endfor %}
</div>

{% bootstrap_pagination page_obj %}
{% endblock %}
